<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Detail Gudang</title>
    <!-- Atur atribut lainnya di sini -->
</head>
<body>
    <nav th:replace="~{fragments/navbar}"></nav>
    <div class="container">
        <nav aria-label="breadcrumb">
            <!-- Tambahkan breadcrumb jika diperlukan -->
        </nav>
        <div class="row justify-content-center">
            <div class="card col-12 my-5" style="width: 40rem;">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <h4 class="card-title">Detail Gudang</h4>
                        </div>
                        <div class="col text-end">
                            <a type="button" class="btn btn-primary btn-md" th:href="@{'/gudang/' + ${gudang.id} + '/restock-barang'}">+Restock Barang</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Informasi gudang -->
                    <div>
                        <p class="card-text">
                            <span style="display:inline-block; width: 250px;">Nama Gudang</span>: 
                            <span th:text="${gudang.nama}"></span>
                        </p>
                        <p class="card-text">
                            <span style="display:inline-block; width: 250px;">Alamat Gudang</span>: 
                            <span th:text="${gudang.alamatGudang}"></span>
                        </p>
                    </div>
                    <p></p>
                    <p></p>
                    <div>
                        <h6 class="card-title">Daftar Barang Tersedia</h6>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>SKU</th>
                                    <th>Tipe Barang</th>
                                    <th>Merk</th>
                                    <th>Harga</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="barang, iterStat : ${barangList}">
                                    <td th:text="${iterStat.index + 1}"></td>
                                    <td><a th:href="@{'/barang/' + ${barang.sku}}"><span th:text="${barang.sku}"></span></a></td>
                                    <td>
                                        <span th:switch="${barang.tipeBarang}">
                                            <span th:case="1">Produk Elektronik</span>
                                            <span th:case="2">Pakaian & Aksesoris</span>
                                            <span th:case="3">Makanan & Minuman</span>
                                            <span th:case="4">Kosmetik</span>
                                            <span th:case="5">Perlengkapan Rumah</span>
                                            <span th:case="*">Tipe Barang Tidak Diketahui</span>
                                        </span>
                                    </td>
                                    <td th:text="${barang.merk}"></td>
                                    <td th:text="${barang.hargaBarang}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center m-3">
                        <a type="button" class="btn btn-primary btn-md" href="/gudang">Kembali</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
