<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Failed to Cancel Permintaan Pengiriman</title>
</head>
<body>
    <h1>Failed to Cancel Permintaan Pengiriman</h1>
    <p>Permintaan Pengiriman cannot be canceled due to the time limit or other reasons.</p>
    <!-- You can add more content or styling as needed -->
</body>
</html>
