<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Tambah Permintaan Pengiriman</title>
</head>
<body>
    <h2>Tambah Permintaan Pengiriman</h2>
    <form th:action="@{'/permintaan-pengiriman/tambah'}" th:object="${permintaanPengirimanRequestDTO}" method="post">
        <div>
            <label for="idKaryawan">Karyawan:</label>
            <select class="form-control" th:field="*{karyawan}">
                <option th:each="karyawan, karyawanItr: ${listKaryawan}" th:value="${karyawan.id}" th:text="${karyawan.nama}"></option>
              </select>
        </div>
        <div>
            <label for="tanggalPengiriman">Tanggal Pengiriman:</label>
            <input id="tanggalPengiriman" type="date" th:field="*{tanggalPengiriman}" />
        </div>
        <div>
            <label for="namaPenerima">Nama Penerima:</label>
            <input id="namaPenerima" type="text" th:field="*{namaPenerima}" />
        </div>
        <div>
            <label for="jenisLayanan">Jenis Layanan:</label>
            <select id="jenisLayanan" th:field="*{jenisLayanan}">
                <option value="1">Same Day</option>
                <option value="2">Kilat</option>
                <option value="3">Reguler</option>
                <option value="4">Hemat</option>
            </select>
        </div>
        <div>
            <label for="alamatPenerima">Alamat Penerima:</label>
            <input id="alamatPenerima" type="text" th:field="*{alamatPenerima}" />
        </div>
        <div>
            <label for="biayaPengiriman">Biaya Pengiriman:</label>
            <input id="biayaPengiriman" type="number" th:field="*{biayaPengiriman}" />
        </div>
        <!-- Table for adding items (Barang) -->
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Barang</th>
                    <th scope="col">Kuantitas</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="barang, barangItr: ${permintaanPengirimanRequestDTO.barangList}">
                    <th scope="row" th:text="${barangItr.count}">1</th>
                    <td>
                        <select th:field="*{barangList[__${barangItr.index}__].barang.sku}" class="form-control">
                            <option th:each="barangExisting : ${listBarangExisting}" th:value="${barangExisting.sku}" th:text="${barangExisting.merk}"></option>
                        </select>
                    </td>
                    <td>
                        <input th:field="*{barangList[__${barangItr.index}__].kuantitasPesanan}" class="form-control" type="number">
                    </input>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <button type="submit" name="addRow" class="btn btn-success">Tambah Barang</button>
        <button type="submit" class="btn btn-primary">Buat Permintaan Pengiriman</button>
    </form>
</body>
</html>
