<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Form Ubah Barang</title>
</head>
<body>
    <nav th:replace="~{fragments/navbar}"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-header text-center">
                <h2>Ubah Barang</h2>
            </div>
            <div class="card-body">
                <div class="justify-content-center">
                    <form th:action="@{'/barang/' + ${barangDTO.sku} + '/ubah'}" th:object="${barangDTO}" method="POST">
                        SKU: <br>
                        <input class="form-control" type="text" th:field="*{sku}" readonly="readonly" />
                        <br><br>
                        Merek: <br>
                        <input class="form-control" type="text" th:field="*{merk}"  required="required"/>
                        <br><br>
                        Tipe Barang: <br>
                        <select class="form-control" th:field="*{tipeBarang}" disabled>
                            <option value="1" th:selected="${barangDTO.tipeBarang == 1}">Produk Elektronik</option>
                            <option value="2" th:selected="${barangDTO.tipeBarang == 2}">Pakaian & Aksesoris</option>
                            <option value="3" th:selected="${barangDTO.tipeBarang == 3}">Makanan & Minuman</option>
                            <option value="4" th:selected="${barangDTO.tipeBarang == 4}">Kosmetik</option>
                            <option value="5" th:selected="${barangDTO.tipeBarang == 5}">Perlengkapan Rumah</option>
                        </select>
                        <br><br>
                        Harga: <br>
                        <input class="form-control" type="number" th:field="*{hargaBarang}"  required="required" />
                        <br><br>
                        <div class="text-center mt-4">
                        <a class="btn btn-light" href="/barang">Kembali</a>
                        <button class="btn btn-primary" type="submit">Ubah</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
