<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>SILOGISTIK Beranda</title>
</head>
<body>
    <nav th:replace="~{fragments/navbar}"></nav>
    <div class="container mt-5">
        <div class="text-center">
            <h1><i class="fas fa-warehouse"></i></h1>
            <h1> SILOGISTIK</h1>
        </div>
        <div class="row mt-4">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card bg-primary text-white">
                    <div class="card-body text-center">
                        <p>Gudang</p>
                        <h1 th:text="${jumlahGudang}"></h1>
                        <p class="small">gudang</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card bg-primary text-white">
                    <div class="card-body text-center">
                        <p>Barang</p>
                        <h1 th:text="${jumlahBarang}"></h1>
                        <p class="small">barang</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card bg-primary text-white">
                    <div class="card-body text-center">
                        <p>Permintaan Pengiriman</p>
                        <h1 th:text="${jumlahPermintaan}"></h1>
                        <p class="small">permintaan pengiriman</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card bg-primary text-white">
                    <div class="card-body text-center">
                        <p>Karyawan</p>
                        <h1 th:text="${jumlahKaryawan}"></h1>
                        <p class="small">karyawan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
